/*  your css code here. If applicable */
#box{
	width : 200px;
	height : 200px;
	background-color: light-blue;
	border-width:2px solid black;
	position:relative;
	top:50%;
	left:50%;
}

	#text{
		color:purple;
		position:absolute;
		top:50%;
		left:50%;
	}